
ul, ol, li{
    list-style: none;
    text-align: -webkit-match-parent;
}

ul{
    display: block;
    list-style-type: disc;
    margin-block-end: 1em;
    margin-block-start: 1em;
    padding-inline-start: 0px;
}

/* 상세 화면 메인 div 규격 */
.inner_index{
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    overflow: hidden;
    padding-inline-start: 40px;
    font-size: 20px;
    z-index: 10;
}

/* 상세 화면 상단 메인 div */
.detail_list{
    height: 600px;
}

/* 상세 화면 상단 메인 div 규격 */
.detail_content_ul{
    width: 100%;
    height: 100%;

}

/* 상세 화면 전체 간격 */
.detail_content{
    position: absolute;
    height: auto;
    line-height: 27px;
}

/* 상세 화면 상세 내용 */
.article_content{
    margin-top: 100px;
    clear: both;
}

/* 상세 화면 상세 내용 */
.info_post{
    position: fixed;
    display: block;
    height: 110px;
    padding-bottom: 20px;
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.article_content .info_post{
    display: block;
    margin: 0;
    padding: 0;
}

/* sns 아이콘 배치 */
.sns-go{
    text-align: left;
}

/* sns 아이콘 간격  */
.sns-go li{
    display: inline-block; margin: 0;
}

/* sns 아이콘 이미지 모양 */
.sns-go li img {
    border-radius: 50%;
}

/* 상세 화면 이미지 ~ sns 아이콘 div */
.content_image_sns{
    font-size: 16px;
    line-height: 28px;
    border-bottom: solid 1px;
    height: auto;
    width: 100%;
}

/* 댓글 div */
.reply_comment{
    margin-top: 100px;
}

/* 댓글 div 규격 */
textarea{
    width: 100%;
    height: 102px;
    font-size: 16px;
    box-sizing: border-box;
    vertical-align: top;
}

/* 버튼 위치 */
.space_comment{
    margin-top: 10px;
    text-align: right;
}

/* 폰트 사이즈 */
span{
    font-size: 30px;
}