/**/
.wrap_list{
    margin-top: 10px;
}

/* 게시굴 div */
.main_letter{
    width: 894px;
    padding: 40px 40px;
    float: right;
    position: relative;
}

/* 게시물 관리 div */
.list_post{
    border: solid 1px lightgray;
    list-style: none;
}

/* 제목 카테고리 작성자 날짜 div */
.post_cont{
    display: table-cell;
    overflow: hidden;
    padding: 18px 0 17px;
    vertical-align: middle;
}

/* table 규격 */
.tit_post tit_ellip{
    display: table;
}

/* 제목 div 폰트 및 간격 */
.tit_post{
    overflow: hidden;
    margin: 4px 0 2px;
    font-family: Noto Sans Medium, AppleSDGothicNeo-Regular, 'Malgun Gothic', '맑은 고딕', dotum, '돋움', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: black;
    word-break: break-word;
}

/* 수정 삭제 버튼 가로 div */
.post_btn{
    width: 500px;
}

/* 게시물 div */
.list_post .post_btn{
    display: table-cell;
    text-align: right;
    vertical-align: middle;
}
span{
    font-weight: bold;
    margin-left: 7px;
}

/* 게시물 div 앞 간격 */
.list_post{
    padding-inline-start: 30px;
}